@font-face {
	font-family: SerifaStd;
	src: url(../../assets/Serifa/SerifaStd-Roman.otf);
}
@font-face {
	font-family: Futura;
	src: url(../../assets/Futura/FuturaPTMedium.otf);
}
@font-face {
	font-family: FuturaExtraBold;
	src: url(../../assets/Futura/FuturaPTExtraBold.otf);
}
body {
	background-color: #f2ede6;
	background-color: #eae6da;
	font-family: SerifaStd;
}




.header-box {
	width: 70%;
	min-width: 1000px;
	max-width: 1080px;
	margin-left: 50%;
	transform: translateX(-50%);
	height: 10rem;
	position: relative;
	font-family: SerifaStd;
}
.header-logo-img, .header-cart-img {
	width: 5rem;
	position: absolute;
	display: inline-block;
	left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header-cart-img {
	left: auto;
	right: 0;
}
.header-menu-items-wrapper {
	display: inline-block;
    position: absolute;
    right: 8rem;
    top: 50%;
    transform: translateY(-50%);
	font-size: 1.1em;
}
.header-menu-item {
	padding: 0 10px;
	color: black;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.4em;
}
.header-menu-item.active {
	font-weight: bold;
}
.header-logout-btn {
	padding: 0 10px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.4em;
    background-color: rgba(0,0,0,0);
    border: none;
	font-family: SerifaStd;
}



.left-navbar-box {
	position: relative;
	display: inline-block;
	width: 30%;
	min-width: 300px;
}
.left-navbar-explore {
	font-weight: bold;
	font-size: 3rem;
	font-family: FuturaExtraBold;
	margin-bottom: 20px;
}
.left-navbar-format-btn {
	position: relative;
	display: inline-block;
	margin: 2px;
	width: 25px;
	height: 25px;
	cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: solid black 1.5px;
}
.left-navbar-format-btn-line {
	position: absolute;
	display: block;
    background-color: black;
	top: 0;
	margin: 0;
	margin-top: 0px;
	padding: 0;
	width: calc(100% + 1px);
	height: 2px;
}
.left-navbar-format-btn-line:nth-child(1) {
	top: 3px;
}
.left-navbar-format-btn-line:nth-child(2) {
	top: 9px;
}
.left-navbar-format-btn-line:nth-child(3) {
	top: 14px;
}
.left-navbar-format-btn-line:nth-child(4) {
	top: 19px;
}
.left-navbar-format-btn:nth-child(2)::before, .left-navbar-format-btn:nth-child(2)::after {
	content: '';
    background-color: black;
	position: absolute;
	height: 2px;
	width: calc(100% + 1px);
	top: 50%;
	transform: translateY(-50%);
}
.left-navbar-format-btn:nth-child(2)::after {
	transform: translateY(-50%) rotateZ(90deg);
}
.left-navbar-secao {
	margin-top: 30px;
}
.left-navbar-secao:nth-child(1) {
	margin-top: 20px;
}
.left-navbar-secao > div {
	position: relative;
	padding-left: 25px;
}
.left-navbar-secao > div:nth-child(1) {
	font-size: 1.5em;
	font-family: FuturaExtraBold;
}
.left-navbar-secao > div > span,
.left-navbar-texto-vazado > span {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 13px;
	height: 13px;
	border-radius: 100%;
	transform: translateY(-50%);
}
.left-navbar-texto-vazado > span {
	top: 25%;
}
.left-navbar-texto-vazado {
	position: relative;
	padding-left: 25px;
	font-size: 1.5em;
	margin-top: 30px;
	font-family: FuturaExtraBold;
	color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px black;
}
.left-navbar-input {
	border: none;
    background-color: inherit;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    outline: none;
	font-family: SerifaStd;
	margin-top: 20px;
}
.left-navbar-input::placeholder {
	color: black;
	margin: 0;
	padding: 0;
	font-family: SerifaStd;
	font-size: 1.2em;
}



.itens-loja-box {
	display: inline-block;
	width: 70%;
	min-width: 700px;
	vertical-align: top;
	text-align: right;
}
.item-loja-card {
	vertical-align: top;
	display: inline-block;
	width: 300px;
	height: 380px;
	text-align: left;
}
.item-loja-card:nth-child(2n) {
	margin-left: 50px;
}
.item-loja-card:nth-child(n + 3) {
	margin-top: 50px;
}
.item-loja-card:nth-child(odd):last-child {
	transform: translate(calc(-100% - 50px));
}
.item-loja-card-minibox {
	position: relative;
	width: 300px;
	height: 300px;
	border: solid black 1px;
	background-color: black;
	box-sizing: border-box;
	overflow: hidden;
}
.item-loja-card-img {
	position: absolute;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.item-loja-nome-preco-minibox {
	display: inline-block;
	font-weight: bold;
	font-family: Futura;
	width: 50%;
}
.item-loja-tags-minibox {
	position: relative;
	display: inline-block;
	width: 50%;
	font-family: Futura;
	font-weight: bold;
	font-size: .6em;
	vertical-align: top;
	padding-top: 5px;
	text-align: right;
}
.item-loja-tag {
	position: relative;
	display: inline-block;
	margin-left: 8px;
	height: 22px;
	width: 65px;
	border-radius: 20px;
	text-transform: uppercase;
	border: solid black 1px;
}
.item-loja-tag-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.item-loja-tag.assentos {
	background-color: #48451c;
	color: white;
}
.item-loja-tag.mesas {
	background-color: #bf5928;
}
.item-loja-tag.armazenamento {
	background-color: #68999e;
	color: white;
	font-size: .7em;
}
.item-loja-tag.acessorios {
	background-color: #feba12;
}
.item-loja-tag.fretegratis {
	background-color: #f91e2f;
	color: white;
}
.item-loja-tag.promocao {
	color: #f91e2f;
	border: solid black 1px;
}
.item-loja-tag.normal {
	border: solid black 1px;
}





.footer-box {
	width: 70%;
	min-width: 1000px;
	max-width: 1080px;
	margin-top: 10rem;
	margin-bottom: 100px;
	margin-left: 50%;
	transform: translateX(-50%);
	height: 10rem;
	position: relative;
	bottom: 0;
}
.footer-break-line {
	border: 1px solid black;
	margin: 20px 0;
}
.footer-logo-img-wrapper {
	width: 5rem;
	display: inline-block;
	position: relative;
}
.footer-logo-img {
	width: 100%;
}
.footer-upper-subbox > *{
	vertical-align: top;
}
.footer-upper-subbox{
	height: 119px;
	position: relative;
}
.footer-pague-com {
	display: inline-block;
	position: relative;
	height: 100%;
	margin: 0 0 0 20px;
	font-weight: bold;
	font-size: .9em;
}.footer-pague-com-img {
	width: 35px;
	margin-right: 3px;
}
.footer-links {
	margin-right: 90px;
	position: relative;
	float: right;
	font-size: .8em;
}
.footer-login {
	position: relative;
	float: right;
	font-weight: bold;
	font-size: .9em;
}
.footer-input {
	border: none;
    background-color: inherit;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    outline: none;
	font-family: SerifaStd;
}
.footer-input::placeholder {
	color: black;
	margin: 0;
	padding: 0;
	font-family: SerifaStd;
	font-size: 1.2em;
}




.carrousel-box {
	width: 100%;
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
}
.carrousel-inner-box {
	position: relative;
	transition: ease 300ms;
}
.carrousel-dot-box {
	margin: 30px 0 0 0;
	text-align: center;
}
.carrousel-dot {
	display: inline-block;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	margin: 0 5px;
	border: black 1px solid;
}
.left-arrow > span, .right-arrow > span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-bottom: black 1px solid;
}
.left-arrow > span {
	border-left: black 1px solid;
}
.right-arrow > span {
	border-right: black 1px solid;
}
.left-arrow, .right-arrow {
	display: inline-block;
	padding: 10px;
	margin: 0 5px;
	cursor: pointer;
}
.left-arrow > span {
	transform: rotateZ(45deg);
}
.right-arrow > span {
	transform: rotateZ(-45deg);
}
.carrousel-dot.ativo {
	background-color: black;
}




.item-loja-main-section-box {
	width: 70%;
	min-width: 1000px;
	max-width: 1080px;
	margin-left: 50%;
	transform: translateX(-50%);
	position: relative;
	font-family: SerifaStd;
	margin-bottom: 100px;
}
.item-loja-main-section-left {
	display: inline-block;
	width: 50%;
}
.item-loja-main-section-left-title {
	font-weight: bold;
	font-size: 3em;
	font-family: Futura;
}
.item-loja-main-section-left-subtitle {
	font-size: .8em;
}
.item-loja-main-section-left-subtitle > span {
	font-weight: bold;
	font-family: Futura;
}
.item-loja-main-section-left-tags-minibox {
	position: relative;
	display: inline-block;
	font-family: Futura;
	font-weight: bold;
	font-size: 1em;
	vertical-align: top;
	padding-top: 5px;
	text-align: left;
	margin-bottom: 30px;
	margin-top: 30px;
}
.item-loja-main-section-left-tag {
	position: relative;
	display: inline-block;
	margin-right: 8px;
	height: 30px;
	width: 100px;
	border-radius: 20px;
	text-transform: uppercase;
	border: solid black 1px;
}
.item-loja-main-section-left-tag-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.item-loja-main-section-left-tag.big {
	font-family: Futura;
	font-size: 2em;
	font-weight: bold;
	height: 60px;
	width: 200px;
	border-radius: 30px;
	border: none;
	background-color: #48451c;
	color: white;
}
.item-loja-main-section-right {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	text-align: center;
}
.item-loja-main-section-right > div {
	display: inline-block;
	text-align: left;
}
.item-loja-main-section-right-preco {
	font-weight: bold;
	font-family: FuturaExtraBold;
	font-size: 3em;
	margin-bottom: 20px;
}
.item-loja-main-section-right-preco-parcela {
	font-size: 1.5em;
	margin-bottom: 20px;
}
.item-loja-main-section-right-preco-parcela > span{
	font-weight: bold;
	font-family: FuturaExtraBold;
	font-size: 1.5em;
}
.item-loja-mosaico-box-column {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 5px);
}
.item-loja-mosaico-box-column.one {
	margin-right: 5px;
}
.item-loja-mosaico-box-column.two {
	margin-left: 5px;
}
.item-loja-mosaico-box-column-img {
	width: 100%;
	margin: 5px 0;
	vertical-align: top;
}

.item-loja-descricao-box {
	width: 70%;
	min-width: 1000px;
	max-width: 1080px;
	margin-left: 50%;
	transform: translateX(-50%);
	position: relative;
	font-family: SerifaStd;
	margin-top: 150px;
	margin-bottom: 150px;
}
.item-loja-descricao-box > img {
	vertical-align: top;
	width: calc(35% - 30px);
	margin-right: 30px;
}
.item-loja-descricao-box > div {
	width: 65%;
	display: inline-block;
}
.item-loja-descricao-box > div > span {
	font-family: Futura;
	font-size: 1.2em;
	font-weight: bold;
}